/* ---------------- styling for App --------------------- */

/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap'); */

:root {
    --text: #F5E034;
    --clr-two: #1E8762;
    --clr-three: #27578b;
    --clr-four: #C689BD;
}

body{
    box-sizing: border-box;
    background-image: url("big-bang-image/space.png");
    background-color: var(--clr-three);
    font-family: 'Bungee Inline', cursive;
}

.title{
    color: var(--text);
    text-align:center;
    justify-content: center;
}

.form-container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction:column;
}


#message-box{
    height:auto;
    align-items: center;
    justify-content: center;
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
}

#content-display{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    align-items: center;
    justify-content: center;
    color: var(--text);
    background-color: var(--clr-four);
    margin-left: auto;
    margin-right: auto;
}

.film{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--clr-four);
    position:relative;
    overflow: hidden;
}
.film img{
    width:100%;
}
.movie-info{
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: var(--clr-two);
}

.movie-info span.orange{
    color: var(--text);
}

.movie-info span.red{
    color:var(--clr-four);
}


/* .overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    padding: 1rem;
    max-height: 100%;
    height: auto;
    width: 20%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0)
} */

/*
 h4 {
    color: white;
    font-size: 1rem;
}
*/

.center{
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

/* styling for button */
.clickBtn {
    width: fit-content;
    margin-top: 5rem;
    padding: 1rem;
    font-size: 3rem;
    background-color: var(--clr-two);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bungee Inline';
    color: var(--text);
  }
  
  .clickBtn:hover {
    background-color: var(--clr-three);
  }

/* styling for space craft animation movement and route */

.space-ship-wrap {
  /*  margin: 100px; */
  margin: 0px;
}

.orbit-route {
    height: 50rem;
   /* width: 100%; */
    padding-top: 50%;
    padding: 10%;
    text-align: center;
    justify-content: center;
    border: 10px dotted var(--clr-two);
    position: relative;
}

.space-craft {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    transform: translate(50%, 50%);
    animation: travelAtLightSpeed 10s linear infinite;
}

/* gif styling */
.output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
figure img{
    width: 100%;
    height: auto;
}
@keyframes travelAtLightSpeed {
    30% {
      bottom: 0;
      right: 100%;
      transform: translate(50%, 50%);
    }
    
    32.5% {
      bottom: 0;
      right: 100%;
      transform: translate(50%, 50%) rotate(90deg);
    }
    
    47.5% {
      right: 100%;
      bottom: 100%;
      transform: translate(50%, 50%) rotate(90deg);
    }

    50% {
        right: 100%;
        bottom: 100%;
        transform: translate(50%, 50%) rotate(180deg);
      }
      
      80% {
        right: 0;
        bottom: 100%;
        transform: translate(50%, 50%) rotate(180deg);
      }
      
      82.5% {
        right: 0;
        bottom: 100%;
        transform: translate(50%, 50%) rotate(270deg);
      }
      
      97.5% {
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%) rotate(270deg);
      }
      
      100% {
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%) rotate(360deg);
      }
    }

    @media screen and (max-width: 2560px){
        .orbit-route{
          height: 50rem;
         /* width: 80%; */
          margin: 10%;
          padding-top: 20%;
        }
        .space-craft {
            width: 43%;
        }
    }

    @media screen and (max-width: 1024px){
        .space-craft {
            width: 40%;
        }
    }

    @media screen and (max-width: 789px){
        .output{
            width: 20rem;
        }
    }
    
    @media screen and (max-width: 320px){

        /*
        .space-ship-wrap{
            margin: 50px;
        } 
        #message-box{
            width: 100%;
        } */

        .movie-info{
            padding: 0;
        }
        .output{
            width: 10rem;
        }

    }

    

   
